html{
	background-color: rgb(150,150,150);
	color: white;
}
body{
	color: white;
	font-family: "Consolas", Times, serif;
}
#search_box{
	border: 1;
	border-color: rgb(50,50,50);
	border-width: 1;
	border-radius: 5px;
	font-size: 18px;
	padding: 5px;

}
#js_link:hover{
cursor: move;
}
#content_table{
	border: solid;
	border-width: 1px;
	border-color: grey;
}
a{
	color: #84dbf4;
}